{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- Header End -->
	<div class="cs-subheader center" style="background:url({% static 'assets/extra-images/bg-subheader.jpg' %}) no-repeat 0 0 /cover; min-height:296px; padding:90px 0 0; margin-bottom:70px;">
		<div class="container">
			<div class="cs-page-title">
				<h1 style="color:#fff !important;">About US</h1>
				<p style="color:#fff;">If you think we might be a good fit for a project you’re working on and you’d like to get the feel of how we<br />
					can work together please contact us using contact data.</p>
			</div>
		</div>
	</div>
	<!-- Main Start -->
	<div class="main-section">
		<div class="page-section" style="margin-bottom:30px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-fuel1 cs-color" style="font-size:70px;"> </i> </div>
							<div class="cs-text">
								<h6>OIL CHANGES </h6>
								<p>Vivamus erat diam, condimentum in aliquet sed, bibendum at quam. Phasellus lacus mauris.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-car230 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>AIR CONDITIONING</h6>
								<p>Nulla a gravida purus. Fusce at interdum libero, at. Vivamus erat diam, condimentum in bibendum                                            at quam.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="cs-services">
							<div class="cs-media"> <i class="icon-energy42 cs-color" style="font-size:40px"> </i> </div>
							<div class="cs-text">
								<h6>AUTO ELECTRIC </h6>
								<p>Etiam et maximus nisi, nec scelerisque neque. Nunc euismod iaculis urna, id eleifend lorem                                             aliquet at. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section" style="margin-bottom:40px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-column-text">
							<h2 style="font-size:26px !important;">WELCOME TO THE AutoMotive</h2>
							<p>Lorem ipsum dolor sit amet, consectetur corporis lab. Architecto, maiores, similique, eos, ea doloribus nihil accusantium fuga numquam corporis nostrum eligendi nemo sapiente quibusdam consequuntur tempore. Suscipit.</p>
							<ul class="cs-icon-list">
								<li><i class="icon-check2 cs-color"></i>Volutpat luctus lacus hendrerit taciti lobortis in.</li>
								<li><i class="icon-check2 cs-color"></i>Faucibus amet consectetur erat donec venenatis leo.</li>
								<li><i class="icon-check2 cs-color"></i>Ullamcorper conubia, aenean quisque mattis malesuada.</li>
								<li><i class="icon-check2 cs-color"></i>quam quisque ligula, maecenas ligula proin ut augue.</li>
							</ul>
							<a href="#" class="btn-contact cs-color csborder-color">Contact us</a> </div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="cs-video-frame">
							<iframe width="560" height="340" src="https://www.youtube.com/embed/21CY9RtMQkU" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="page-section" style=" background:url({% static 'assets/extra-images/bg-counter.jpg' %}) no-repeat 0 0 / cover; margin-bottom:50px; margin-top:20px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="cs-counter">
							<div class="cs-media">
								<figure> <i class="icon-truck2 cs-color"> </i> </figure>
							</div>
							<div class="cs-text" style="color:#fff;"> <strong class="counter">3,863</strong> <span>Car Sold</span> </div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="cs-counter">
							<div class="cs-media">
								<figure> <i class="icon-car36  cs-color"> </i> </figure>
							</div>
							<div class="cs-text" style="color:#fff;"> <strong class="counter">89,897</strong> <span>Car Sold</span> </div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="cs-counter">
							<div class="cs-media">
								<figure> <i class="icon-settings  cs-color"> </i> </figure>
							</div>
							<div class="cs-text" style="color:#fff;"> <strong class="counter">741</strong> <span>Registerd Agents</span> </div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="cs-counter">
							<div class="cs-media">
								<figure> <i class="icon-directions_car cs-color"> </i> </figure>
							</div>
							<div class="cs-text" style="color:#fff;"> <strong class="counter">3289</strong> <span>Certified Agents</span> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-section" style="margin-bottom:70px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="section-title" style="color:#333333; margin-bottom:45px;">
									<h2 style="margin-bottom:5px; text-transform:uppercase !important;">OUR ADVANTAGES</h2>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="panel-group box" id="accordion5" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h6 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse30" aria-expanded="true" aria-controls="collapse30"> <i class="icon-directions_car"></i>We go through extensive factory training so that we may provide </a> </h6>
										</div>
										<div id="collapse30" class="panel-collapse collapse in" role="tabpanel">
											<div class="panel-body"> We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and
												complexity that it literally staggers the imagination. We possess within us two minds. So far I have written only of
												the conscious mind. I would now like to introduce you to your second mind. </div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading31">
											<h6 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse31" aria-expanded="false" aria-controls="collapse31"> <i class="icon-key22"></i>You need to make an educated decision in choosing the vehicle </a> </h6>
										</div>
										<div id="collapse31" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading31">
											<div class="panel-body"> We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and
												complexity that it literally staggers the imagination. We possess within us two minds. So far I have written only of
												the conscious mind. I would now like to introduce you to your second mind. </div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading32">
											<h6 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse32" aria-expanded="false" aria-controls="collapse32"> <i class="icon-cog2"></i>Motors, we think you should also have pretty high expectations for your dealership. </a> </h6>
										</div>
										<div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading32">
											<div class="panel-body"> We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and
												complexity that it literally staggers the imagination. We possess within us two minds. So far I have written only of
												the conscious mind. I would now like to introduce you to your second mind. </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<ul class="cs-testimonial-slider">
							<li>
								<div class="cs-media">
									<figure> <img src="assets/extra-images/testimonial-slider-img-1.jpg" alt="" /> </figure>
								</div>
								<div class="cs-text">
									<p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
									<h6>James Warson<span>Chief Executive Officer </span></h6>
								</div>
							</li>
							<li>
								<div class="cs-media">
									<figure> <img src="assets/extra-images/testimonial-slider-img-1.jpg" alt="" /> </figure>
								</div>
								<div class="cs-text">
									<p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
									<h6>James Warson<span>Chief Executive Officer </span></h6>
								</div>
							</li>
							<li>
								<div class="cs-media">
									<figure> <img src="assets/extra-images/testimonial-slider-img-1.jpg" alt="" /> </figure>
								</div>
								<div class="cs-text">
									<p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
									<h6>James Warson<span>Chief Executive Officer </span></h6>
								</div>
							</li>
							<li>
								<div class="cs-media">
									<figure> <img src="assets/extra-images/testimonial-slider-img-1.jpg" alt="" /> </figure>
								</div>
								<div class="cs-text">
									<p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
									<h6>James Warson<span>Chief Executive Officer </span></h6>
								</div>
							</li>
							<li>
								<div class="cs-media">
									<figure> <img src="assets/extra-images/testimonial-slider-img-1.jpg" alt="" /> </figure>
								</div>
								<div class="cs-text">
									<p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
									<h6>James Warson<span>Chief Executive Officer </span></h6>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="page-section" style="margin-bottom:0; background:#edf0f5; padding:35px 0 ;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul class="cs-partners-slider">
							<li><a href="#"><img src="assets/extra-images/partner-img-1.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-2.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-3.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-4.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-5.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-6.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-1.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-2.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-3.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-4.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-5.jpg" alt="" /></a></li>
							<li><a href="#"><img src="assets/extra-images/partner-img-6.jpg" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main End --> 
{% endblock content %}