{% extends 'base.html' %}
{% load static %} 


{% block content %} 

	<div class="cs-subheader left" style="background:url({% static 'assets/extra-images/bg-subheader-01.jpg' %}) no-repeat 0 0 /cover; min-height:296px; padding:90px 0 0; margin-bottom:50px;">
    	<div class="container">
        	<div class="cs-page-title">
            	<h1 style="color:#fff !important;">Get in touch</h1>
                <p style="color:#fff;">If you think we might be a good fit for a project you’re working on and you’d like to get the<br /> feel of how we can work together please contact us using contact data.</p>
            </div>
        </div>
    </div>
	<!-- Main Start -->
	<div class="main-section"> 
		<div class="page-section" style=" padding-top:20px; padding-bottom:10px; ">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<!--Element Section Start-->
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-map4 cs-color"></i></div>
												<div class="cs-text">
													<h6>Contact Info</h6>
													<p>Automotive inc. # O Office Address 
													101 Gray's Inn Rd, London
													United Kingdom</p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-envelope2 cs-color"></i></div>
												<div class="cs-text">
													<h6>Emaill Address</h6>
													<p><a href="#">info@automotive.com</a>
													<a href="#">email-2@automotive.com</a></p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-phone4 cs-color"></i></div>
												<div class="cs-text">
													<h6>Phone Numbers</h6>
													<p><span>Telephone: 281-290-4755</span>
													<span>Fax: 281-290-4755</span></p>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="cs-contact-info left">
												<div class="cs-media"><i class="icon-briefcase3 cs-color"></i></div>
												<div class="cs-text">
													<h6>Office Timings</h6>
													<p><span>WEEK DAYS: 05:00 – 22:00</span>
													<span>SATURDAY: 08:00 – 18:00</span>
													<span>SUNDAY: CLOSED</span></p>
												</div>
											</div>
										</div>
										<div class="cs-seprater" style="text-align:center;"> <span> <i class="icon-transport177"> </i> </span> </div>
									<!--Element Section End-->
								</div>
						  </div>
					</div>
			  </div>
		</div>
		<div class="page-section" style="padding-top:40px; padding-bottom:60px;">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<!--Element Section Start-->
										<div class="cs-contact-form">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										
											<div class="cs-section-title">
											<h3 style="text-transform:uppercase !important;">GET IN TOUCH WITH US</h3>
											<p style="text-transform:uppercase;font-size:11px;color:#999999 !important;">
											We possess within us two minds. So far I have written only of the conscious mind. I would now like to
											 introduce you <br/>to your second mind, the hidden and mysterious subconscious.</p>
										</div>
										</div>
										<form action="{% url 'contact' %}" method="post">
											{% csrf_token %}
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" name="name" placeholder="Full Name"><i class=" icon-user"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" name="name" placeholder="Email Address"><i class=" icon-envelope"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder"><input type="text" placeholder="Phone Number"><i class="icon-mobile2"></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder" id="data-toggle">
													<input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Subscribe and Get latest updates and offers by Email</label>
													</div>
												</div>
											</div>
										</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">	
											<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-form-holder">
													<div class="input-holder">
													<textarea name="message" placeholder="I am interested in a price quote on this vehicle. Please contact me at you earliest convenience with your best price for this vehicle"></textarea><i></i></div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="cs-btn-submit cs-color">	
												<input type="submit" value="Contact Dealer">
												</div>
											</div>
											</div>
										</div>	
										</form>
										</div>
											</div>
										</div>	
									<!--Element Section End-->
								</div>
						  </div>
					</div>
		<div class="page-section" style=" margin-bottom:25px;">
			  <div class="container">
					<div class="row">
						  <div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<div class="container"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.7118265464646!2d-87.65590938518524!3d41.87754617342886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cde719b31b3%3A0x277df227479e5092!2s1041%20W%20Jackson%20Blvd%2C%20Chicago%2C%20IL%2060607!5e0!3m2!1sen!2sus!4v1648179514016!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
								</div>
						  </div>
					</div>
			  </div>
		</div>
	</div>
	<!-- Main End --> 
{% endblock content %}