{% extends 'base.html' %} 

{% block content %} 
<br><br>
<h3>Our inventory</h3>
<br>
<div class="row">
    {% for car in inventory_cars %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="auto-listing auto-grid">
            <div class="cs-media">
                <figure> <img src="{{car.image_main.url}}" alt="#"/>	
                </figure>
            </div>
            <div class="auto-text"> <span class="cs-categories"><a href="#">{{ car.category }}</a></span>
                <div class="post-title">
                    <h6><a href="#">{{ car.brand }} </a></h6>
                    <div class="auto-price"><span class="cs-color">${{ car.price }} </span></div>
                </div>
                <i class="icon-car228 cs-color" style="font-size:20px"> </i>{{ car.transmission }}
                <br>Year: {{ car.year }}

                <a href="{{ car.get_absolute_url }}" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a> </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %} 
